@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.Tempo{
    font-family: 'Orbitron','Sans-serif';
    color: red;
    font-size: 42px;
    }
    #ice{
        cursor: auto;
        cursor: pointer;
    }